<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-teams-adapter.ZPM">
    <Module>
      <Name>iris-teams-adapter</Name>
	  <Description>Adapter to connect Teams from IRIS</Description> 
      <Version>1.1.0</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="St.Teams.PKG"/>
    </Module>
  </Document>
</Export>
